a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: lighten($color__link-hover, 10%);
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

a[target="_blank"] {
  &:hover,
  &:active {
    &:after {
      @include icon-font($fa-var-external-link-square);
      vertical-align: super;
      font-size: 0.6em;
      margin-left: 0.1em;
    }
  }
}

a[href^="#"]:after {
  @include icon-font($fa-var-arrows-v);
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 0.1em;
}
