$menu-button-size: 40px;

$nav-bar-height: $menu-button-size;
$nav-bar-height-large-screen: 72px;

@mixin large-menu-screen {
  @media screen and (min-width: 1405px) {
    @content;
  }
}

#masthead {
  &.scrolled-down {
    > #menu-btn-wrapper,
    > #site-navigation {
      position: fixed;
      left: 0;
    }

    > #menu-btn-wrapper {
      margin-top: 0;
      top: - $menu-button-size;

      > button {
        @include hdpi-sprite($color__background-dark);

        padding: 0;

        &:after {
          content: "";
        }
      }
    }

    > #site-navigation {
      background-color: $color__background-dark;

      width: 100%;

      top: 0;
      @include large-menu-screen {
        top: - $nav-bar-height-large-screen;
      }
    }
  }

  &.menu-open {
    button {
      $menu-button-image-location-x: 0;
      $menu-button-image-location-y: 0;

      background-position: $menu-button-image-location-x $menu-button-image-location-y;
      @include hidpi {
        background-position: half-pos($menu-button-image-location-x, $menu-button-image-location-y);
      }
    }
  }
}

#menu-btn-wrapper {
  z-index: $z-index-menu-button;

  margin-top: -$nav-bar-height;
  @include large-menu-screen {
    margin-top: -$nav-bar-height-large-screen;
  }

  > button {
    $menu-button-image-location-x: -1920px;
    $menu-button-image-location-y: 0;

    @include hdpi-sprite(transparentize($color__background-dark, 0.2));
    background-position: $menu-button-image-location-x $menu-button-image-location-y;
    @include hidpi {
      background-position: half-pos($menu-button-image-location-x, $menu-button-image-location-y);
    }

    min-width: $menu-button-size;
    min-height: $menu-button-size;

    color: $color__border-input;
    padding: 0 8px 0 $menu-button-size;

    display: block; // To avoid space in wrapper;

    @include large-menu-screen {
      display: none;
    }

    &:after {
      content: "Meny";
      vertical-align: middle;
    }
  }
}

#site-navigation {
  clear: both;

  z-index: $z-index-menu;
  position: relative; // For z-index to be taken into account

  background-color: $color__background-dark;
  @include large-menu-screen {
    background-color: transparentize($color__background-dark, 0.2);
  }

  > .menu-all-pages-as-single-container {
    text-align: center;
    visibility: hidden;
    overflow: hidden;

    @include large-menu-screen {
      height: $nav-bar-height-large-screen;
      visibility: visible;
    }

    a {
      color: $color__border-input;

      &:hover,
      &:active,
      &:focus {
        color: lighten($color__border-input, 10%);
      }

      &:after {
        content: "";
      }
    }
  }

  ul {
    padding: 0.5em 0;
  }

  li {
    line-height: 1;
    padding: 0.5em;

    // Override default
    margin-top: 0;
  }

  @include medium-screen {
    font-size: 16px;

    ul {
      padding: 0;

      @include columns(3);
    }
  }

  @include large-menu-screen {
    ul {
      display: table;
      width: 100%;
    }

    li {
      display: table-cell;
      vertical-align: middle;

      // For fear that it would make it higher than $nav-bar-height-large-screen
      padding-bottom: 0;
    }

    a {
      max-width: 11em;
      display: inline-block; // For "width" declaration to work
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  & .nav-previous {
    float: left;
    width: 50%;
  }

  & .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}