button.styleless {
  @include styleless-btn;
  padding: 0;

  &:focus {
    @include styleless-btn;
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn {
  display: inline-block;  // To handle multi-line

  @include transition(color $default-animation-duration ease, background-color $default-animation-duration ease, border-color $default-animation-duration ease);
  border-radius: 0.25em;

  padding: 0.4em 1em;

  > .fa-spinner {
    margin: 0 0.5em 0 -0.6em;
  }
}

a.btn:visited {
  color: white;
}

.btn-lg {
  padding: 0.8em 2em;

  > .fa-spinner {
    margin-left: -1.25em;
  }
}

.btn-default,
a.btn-default,
.btn-primary,
a.btn-primary,
.btn-success,
a.btn-success,
.btn-info,
a.btn-info,
.btn-warning,
a.btn-warning,
.btn-danger,
a.btn-danger,
.btn.sign-in-with-linkedin {
  color: white;

  &:active,
  &:focus,
  &:hover,
  &:active:focus {
    color: white;
  }
}

.btn-default,
a.btn-default {
  background-color: $color__background-hr;
  border-color: $color__background-hr;

  &:active,
  &:focus,
  &:hover,
  &:active:focus {
    background-color: darken($color__background-hr, 15%);
    border-color: darken($color__background-hr, 25%);
  }

  &[disabled],
  &[disabled]:active,
  &[disabled]:focus,
  &[disabled]:hover {
    background-color: lighten($color__background-hr, 35%);
    border-color: lighten($color__background-hr, 35%);
  }
}

.btn-primary,
a.btn-primary {
  background-color: $color__action;
  border-color: $color__action;

  &:active,
  &:focus,
  &:hover,
  &:active:focus {
    background-color: darken($color__action, 15%);
    border-color: darken($color__action, 25%);
  }

  &[disabled],
  &[disabled]:active,
  &[disabled]:focus,
  &[disabled]:hover {
    background-color: $color__action;
    border-color: $color__action;
  }
}

.btn-file-upload {
  padding: 0.18em 0.95em;
}
