@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Italic.ttf") format('truetype');
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Light.ttf") format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-LightItalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Semibold.ttf") format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-SemiboldItalic.ttf") format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-BoldItalic.ttf") format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-RegularItalic.ttf") format('truetype');
    font-style: italic;
}
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Light.ttf") format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-LightItalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-DemiBold.ttf") format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Demi-BoldItalic.ttf") format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-Bold.ttf") format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-BoldItalic.ttf") format('truetype');
    font-weight: 900;
    font-style: italic;
}
