$thumb-size: 200px;

.cbr-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > figure {
    flex-basis: $thumb-size;
    height: $thumb-size;

    margin: 0;

    > a {
      display: block;
      height: 100%;

      background-size: $thumb-size $thumb-size;

      &:hover,
      &:active {
        &::after {
          content: none;
        }
      }
    }
  }
}

// Because of buggy flexbox support
html[data-useragent*="iPhone"],
html[data-useragent*="iPad"],
html[data-useragent*="iPod"] {
  .cbr-gallery {
    display: inline-block;

    > figure {
      display: inline-block;

      margin: -6px -3px;

      width: $thumb-size;
      height: $thumb-size;

      background-size: $thumb-size $thumb-size;
    }
  }
}
