// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


@mixin medium-screen {
  @media screen and (min-width: $medium-content-width) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (min-width: $large-content-width) {
    @content;
  }
}

@mixin ellipsis($white-space: nowrap) {
  white-space: $white-space;
  overflow: hidden;
  text-overflow: ellipsis;
}


// Retina sprite mixin and function inspired by Paul Stamatiou (http://paulstamatiou.com/responsive-retina-blog-development-part-2)

@mixin hdpi-sprite($background-color: transparent) {
  @include retina-image($sprite-url, 1000px 250px);  // Sprite dimensions, halved
  background-color: $background-color;
  background-repeat: no-repeat;
}
// silly function to divide the width and height to save me 2 seconds
// whenever I need to calculate the halved retina background position
@function half-pos($w, $h) {
  @return $w/2 $h/2;
}

@mixin centered-content {
  margin-left: auto;
  margin-right: auto;

  padding: 0 $spacer-unit-size;

  @include medium-screen {
    padding: 0;

    max-width: $medium-content-width;
  }

  @include large-screen {
    max-width: $large-content-width;
  }
}

@mixin icon-font($content) {
  font-family: "FontAwesome";
  font-weight: normal;
  line-height: 1;

  content: $content;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}