body.checkout div[role=main] {
  form label {
      min-width: 7.8em;
  }
}

#checkout-form {
    li {
        display: flex;

        margin-bottom: 2em;
        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            > .remove-btn-wrapper {
                display: none;
            }
        }
    }

    .remove-btn-wrapper {
        font-weight: bold;

        margin: 1.7em 0 0 1em;
        @include medium-screen {
            margin-top: 0;
        }
    }

    .validation-error {
        color: color(error);
    }
}

#card-element {
    margin: 2em auto 0 auto;
    max-width: 16em;
}

#card-button {
    @include primary-btn;
    margin: 2em 0;

    > .fa-spinner {
        font-size: 1.1em;
        margin: 0.08em 1.4em;
    }
}
