#event-principles {
    @include alternate-bg(1);

    a.btn,
    a:visited.btn,
    a:hover.btn {
        @include styleless-btn;

        display: inline-block;

        color: color(background-body);
        background-color: color(tertiary-action);

        text-decoration: none;
        line-height: 1.5em;

        padding: 0.4em 1em;
        margin: 0.5em 0;
        border-radius: 0.1em;

        @include bottom-shadow(black, 30%);
        &:active {
            box-shadow: none;
        }
    }
}
