.nav-primary {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-index-menu;

    font-size: 16px;
    @include text-shadow;

    padding-top: 1.3em;
    @include medium-screen {
        padding-top: 2em;
    }
    @include large-screen {
        padding-top: 2.7em;
    }

    > a,
    > .menu-main-menu-container {
        display: inline-block;
    }

    a,
    a:hover,
    a:visited {
        color: color(background-body);
    }
}

#site-header {
    color: color(background-body);
    @include secondary-font;
    text-transform: uppercase;

    > .container {
        background-size: cover;
        background-position: center center;

        padding-bottom: 4em;
    }

    > .nav-primary {
        background-color: transparent;
        transition: background-color $default-animation-duration ease, padding $default-animation-duration ease;

        // TODO: remove when small-screen menu implemented
        display: none;
        @include large-screen {
            display: block;
        }
    }

    &.scrolled-down > .nav-primary {
        background-color: transparentize(color(text), 0.2);

        padding: 0.5em 0 0.4em;
    }

    h1 {
        display: none;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    .title {
        text-align: center;
        font-weight: normal;
        font-size: 2.5em;

        @include text-shadow;

        display: inline-block;
        max-width: 13em;

        padding: 10vh 0;
        @include medium-screen {
            padding: 20vh 0;
        }

        margin: 0;
    }

    .subtext {
        color: color(background-body);
        background-color: black;
        font-weight: 700;
        font-size: 1.2em;

        padding: 0.3em 1em;

        display: inline-block;
        max-width: 10em;

        > p {
            margin: 0;
            text-align: center;

            > span {
                margin: 0 0.5em;
            }
        }
    }
}

#menu-main-menu {
    margin-bottom: 0;

    > .menu-item {
        display: inline-block;

        margin-right: 1.8em;
        &:last-child {
            margin-right: 0;
        }

        // Hiding the link to the Summary
        &:first-child {
            display: none;
        }
    }
}
